section.about
	.container
		+blockHeader("What you do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consequuntur exercitationem cum officia sint at delectus amet repudiandae necessitatibus modi. Dolor corporis enim deleniti, minus excepturi perferendis nemo voluptate error!")
		.about-list 
			+aboutItem("../images/img-about1.png", "Super Team")
			+aboutItem("../images/img-about2.png", "Super Team")
			+aboutItem("../images/img-about3.png", "Super Team")