footer.footer 
    .container 
        .footer-top 
            .footer-column 
                a(href="index.html").footer-header.footer-header-logo MoGo 
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam error saepe asperiores ad. Officiis nihil consequatur facere amet voluptatem optio, magnam iusto dolor molestiae perspiciatis eum rem aspernatur minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ea fuga tempore reprehenderit sit similique facilis consequuntur id velit et totam harum aperiam ipsam aliquam veniam tempora, eaque at minus?
                p.footer-follower <span>15k</span> Followers 
                .footer-social 
                    span Follow us: 
                    .footer-social-list 
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#")
                            i.fab.fa-twitter
                        a.footer-social-icon(href="#")
                            i.fab.fa-instagram
                        a.footer-social-icon(href="#")
                            i.fab.fa-pinterest
                        a.footer-social-icon(href="#")
                            i.fab.fa-google
                        a.footer-social-icon(href="#")
                            i.fab.fa-youtube
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook
                form.footer-form(action="javascript:void(0)")
                    input(type="email", placeholder="Your email").footer-form-input
                    button.footer-form-button Subscribe 
            .footer-column 
                h3.footer-header Blogs 
                a(href="#").footer-blog 
                    img.footer-blog-image(src="../images/img-blogs1.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet ipsum dolor sit amet
                        span.footer-blog-time Jan 9, 2016
                a(href="#").footer-blog 
                    img.footer-blog-image(src="../images/img-blogs2.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet ipsum dolor sit amet
                        span.footer-blog-time Jan 9, 2016
                a(href="#").footer-blog 
                    img.footer-blog-image(src="../images/img-blogs3.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet ipsum dolor sit amet
                        span.footer-blog-time Jan 9, 2016
            .footer-column
                h3.footer-header Instagram 
                .footer-images 
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                    .footer-images-item 
                        img(src="../images/img-instagram1.png")
                a(href="#").footer-images-more View more photos
        .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>