section.people 
    .container 
        +blockHeader("Happy client", "What people say")
        .people-list
            +peopleItem("../images/img-people1.png", "matthew dix")
            +peopleItem("../images/img-people.png", "nick karyounis")
            +peopleItem("../images/img-people3.png", "jael castillo ")
            +peopleItem("../images/img-people4.png", "mixi petrucguci")