section.quote 
    .container 
        .quote-container 
            //- i.fal.fa-angle-left.quote-container-arrow.quote-arrow-left
            .quote-container-content 
                .quote-container-icon
                    img.quote-container-img(src="../images/img-quote.png")
                .quote-container-info 
                    .quote-container-desc "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatum autem ex temporibus necessitatibus dolores! Saepe explicabo suscipit, veniam autem amet, totam maiores accusamus"
                    span.quote-container-author Jon Doe
            .quote-container-content 
                .quote-container-icon
                    img.quote-container-img(src="../images/img-quote.png")
                .quote-container-info 
                    .quote-container-desc "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatum autem ex temporibus necessitatibus dolores! Saepe explicabo suscipit, veniam autem amet, totam maiores accusamus"
                    span.quote-container-author Jon Doe
            .quote-container-content 
                .quote-container-icon
                    img.quote-container-img(src="../images/img-quote.png")
                .quote-container-info 
                    .quote-container-desc "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatum autem ex temporibus necessitatibus dolores! Saepe explicabo suscipit, veniam autem amet, totam maiores accusamus"
                    span.quote-container-author Jon Doe
            //- i.fal.fa-angle-right.quote-container-arrow.quote-arrow-right