section.services 
    .container 
        +blockHeader("We work with", "Amazing Services")
        .services-list 
            +serviceItem("../images/img-service-icon1.png", "Photography", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +serviceItem("../images/img-service-icon2.png", "Web design", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +serviceItem("../images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +serviceItem("../images/img-service-icon4.png", "Seo", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +serviceItem("../images/img-service-icon5.png", "HTML/CSS", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +serviceItem("../images/img-service-icon6.png", "Digital", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.")