section.story 
    .container 
        +blockHeader("Our stories", "Latest blog")
        ul.story-list
            +storyItem("../images/img-blog1.png", "15", "Jan", "992", "97")
            +storyItem("../images/img-blog2.png", "27", "Feb", "1522", "237")
            +storyItem("../images/img-blog3.png", "22", "Aug", "2208", "200")
                        
section.map 
    .container
        .map-content
            img.map-content-icon(src="../images/img-map-icon.png")
            h2.map-content-title Open map