section.team 
    .container 
        +blockHeader("Who we are", "Meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eum omnis molestias nesciunt velit minima praesentium, ipsam architecto non eveniet fugiat! Voluptas sapiente impedit corporis quae, alias pariatur placeat aliquid?")
        .team-list 
            +teamItem("../images/img-team1.png", "matthew dix", "Graphic design")
            +teamItem("../images/img-team2.png", "christopher campbell", "Branding/UX design")
            +teamItem("../images/img-team3.png", "michael fertig", "Developer")

section.brand   
    .container 
        img(src="../images/img-logos.png")