section.work 
	.container 
		+blockHeader("What we do", "some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos exercitationem laborum, modi fuga sint quo omnis fugiat nam ad minus veritatis assumenda laudantium reprehenderit, maxime placeat natus, cupiditate beatae aliquid?")
	.work-list 
		.work-list-column
			+workItem("../images/img-work1.png","../images/img-work-icon.png","creatively designed","Lorem ipsum dolor sit")
			+workItem("../images/img-work3.png","../images/img-work-icon.png","creatively designed","Lorem ipsum dolor sit")
		.work-list-column 
			+workItem("../images/img-work2.png","../images/img-work-icon.png","creatively designed","Lorem ipsum dolor sit")
			+workItem("../images/img-work4.png","../images/img-work-icon.png","creatively designed","Lorem ipsum dolor sit")
		.work-list-column
			+workItem("../images/img-work5.png","../images/img-work-icon.png","creatively designed","Lorem ipsum dolor sit", "work-item--full")
		.work-list-column
			+workItem("../images/img-work6.png","../images/img-work-icon.png","creatively designed","Lorem ipsum dolor sit")
			+workItem("../images/img-work7.png","../images/img-work-icon.png","creatively designed","Lorem ipsum dolor sit")
			